@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #e2e0e0;
    display: flex;
    justify-content: center;
    padding: 10rem;
}

section {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 24px;
    max-width: 360px;
    width: 100%;
}

h3.noite {
    font-size: 1.15rem;
    font-weight: 450;
}

#preco_diaria {
    font-size: 1.5rem;
    font-weight: 650;
    margin-right: 6px;
}

form > div {
    display: flex;
    border: 1px solid #b0b0b0;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 12px;
}

form > div p {
    flex: 1;
    margin: 0;
}

label.check {
    font-size: 0.65rem;
    font-weight: 600;
    padding: 8px 12px 0;
    color: #222;
}

label {
    font-size: 0.70rem;
    font-weight: 500;
    display: block;
    border-right: 1px solid #b0b0b0;
}

input[type="date"] {
    border: none;
    border-right: 1px solid #b0b0b0;
    border-radius: 0;
    padding: 6px 12px 14px;
    font-size: 0.95rem;
    width: 100%;
    box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

label.hospedes {
    font-size: 0.65rem;
    font-weight: 600;
    margin-top: 8px;
    display: block;
    margin-bottom: 4px;
    color: #222;
}

select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #b0b0b0;
    font-size: 0.95rem;
    width: 100%;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2210%22%20viewBox%3D%220%200%2020%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200l10%2010L20%200H0z%22%20fill%3D%22%23333%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

button {
    background: linear-gradient(to right, #ff385c, #e61e4d);
    color: #fff;
    font-weight: 650;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    padding: 17px;
    width: 100%;
}

button:hover {
    background: linear-gradient(to right, #e61e4d, #ff385c);
}

div > p {
    font-size: 0.90rem;
    text-align: center;
    margin: 22px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    margin-bottom: 15px;
}

hr {
    border: none;
    border-top: 1px solid #cecccc;
    margin: 25px 0;
}

li.total {
    font-weight: 550;
    font-size: 1rem;
}