@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #e2e0e0;
    display: flex;
    justify-content: center;
    padding: 10rem;
}

section {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 24px;
    max-width: 360px;
    width: 100%;
}

h3.noite {
    font-size: 1.15rem;
    font-weight: 450;
}

#preco_diaria {
    font-size: 1.5rem;
    font-weight: 650;
    margin-right: 6px;
}

form > div {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 16px;
}

form > div p {
    flex: 1;
    margin: 0;
}

label {
    font-size: 0.70rem;
    font-weight: 500;
    display: block;
    border-right: 1px solid #ccc;
}

input[type="date"] {
    border: none;
    border-right: 1px solid #ccc;
    border-radius: 0;
    padding: 14px;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
}

select {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    font-size: 0.95rem;
}

button {
    background: linear-gradient(to right, #ff385c, #e61e4d);
    color: #fff;
    font-weight: 650;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    padding: 17px;
    width: 100%;
}

button:hover {
    background: linear-gradient(to right, #e61e4d, #ff385c);
}

div > p {
    font-size: 0.90rem;
    text-align: center;
    margin: 22px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    margin-bottom: 15px;
}

hr {
    border: none;
    border-top: 1px solid #cecccc;
    margin: 25px 0;
}

li.total {
    font-weight: 550;
    font-size: 1rem;
}